* {
    margin: 0;
    padding: 0;
    color: #333333;
    text-decoration: none;
    font-size: 1rem;
}

body {
    background: #eee;
}

.copy-right {
    width: 100%;
    height: 10rem;
    background: #eee;
    line-height: 10rem;
    text-align: center;
    font-size: .65rem;
    color: #666;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background: #FFF;
    z-index: 999;
    width: 100%;
    justify-content: space-around;
    padding: .3rem 0;
}

footer .col a {
    display: inline-block;
    text-align: center;
    font-size: .7rem;
    color: #737373;
    width: 3rem;
    margin: 0 auto;
}

footer .active a {
    color: #0e72ed !important;
}

footer .col a i {
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    margin: 0 auto;
}

footer .col a i.home {
    background: url(../images/home.png) no-repeat center center;
    background-size: contain;
}

footer .col a i.user {
    background: url(../images/user.png) no-repeat center center;
    background-size: contain;
}

footer .col a i.action {
    background: url(../images/action.png) no-repeat center center;
    background-size: contain;
}

footer .col a i.case {
    background: url(../images/case.png) no-repeat center center;
    background-size: contain;
}

footer .active a i.home {
    background: url(../images/home-active.png) no-repeat center center;
    background-size: contain;
}

footer .active a i.user {
    background: url(../images/user-active.png) no-repeat center center;
    background-size: contain;
}

footer .active a i.action {
    background: url(../images/action-active.png) no-repeat center center;
    background-size: contain;
}

footer .active a i.case {
    background: url(../images/case-active.png) no-repeat center center;
    background-size: contain;
}