.top {
    padding: .5rem;
    overflow: hidden;
    background: #FFF;
}

.top a {
    display: inline-block;
    float: left;
    margin: .5rem .5rem 0 .5rem;
    width: .8rem;
    height: 1rem;
    background: url(../images/back.png) no-repeat center center;
    background-size: contain;
}

.top h2 {
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    text-indent: -2rem;
    color: #333333;
    font-weight: normal;
}

.banner {
    width: 100%;
    background: #FFF;
    padding-bottom: .5rem;
}

.banner img {
    width: 100%;
}

.banner p {
    font-size: .8rem;
    padding: 0 .5rem;
    color: #333333;
    font-weight: bold;
    margin: .5rem auto;
}

.banner .tips {
    padding: 0 .5rem;
    color: #808080;
    font-size: .7rem;
    margin: .5rem auto;
    overflow: hidden;
}

.banner .tips span {
    display: inline-block;
    color: #fda134;
    font-size: .7rem;
    float: right;
    margin-right: .5rem;
}

.nav {
    width: 100%;
    background: #FFF;
    margin-top: .5rem;
}

.nav .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e6e6e6;
}

.nav .row .col {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: .7rem 0;
    font-size: .9rem;
}

.nav .row .active {
    color: #5686e7;
    border-bottom: 1px solid #5686e7;
}

.nav .content {
    padding: 1.5rem .5rem;
    font-size: .8rem;
}

.box {
    width: 100%;
    background: #FFF;
    padding-bottom: 1rem;
    margin-top: .5rem;
    margin-bottom: 5rem;
}


.box .item {
    width: 96%;
    margin: 0 auto;
    padding: 1rem 0;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

.box .item img {
    width: 35%;
    display: inline-block;
    float: left;
}

.box .item .content {
    float: right;
    width: 60%;
}

.box .item .content dt {
    font-size: .75rem;
}

.box .item .content dd {
    font-size: .7rem;
    color: #808080;
    margin-top: .5rem;
}

.box h4 {
    text-align: left;
    text-indent: .5rem;
    background: #FFF;
    font-size: .8rem;
    font-weight: normal;
    margin: .5rem auto;
    padding: .5rem 0;
    border-bottom: 1px solid #e6e6e6;
}

.box h4 span {
    display: inline-block;
    float: right;
    margin-right: .5rem;
    color: #808080;
    font-size: .8rem;
    font-weight: normal;
}

.box .item .tips {
    width: 35%;
    float: left;
    position: relative;
}

.box .item .tips img {
    width: 100%;
}

.box .item .tips p {
    font-size: .6rem;
    width: 100%;
    position: absolute;
    text-align: center;
    background: #eeeeee;
    bottom: -1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

.box .item:last-child {
    border: none;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #FFF;
}

#footer a {
    display: inline-block;
    float: left;
    text-align: center;
    height: 3rem;
}

#footer a.collect {
    width: 30%;
    font-size: .9rem;
}

#footer a.collect i {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin: .5rem auto 0 auto;
    background: url(../images/collect.png) no-repeat center center;
    background-size: contain;
}

#footer a.collect i.check {
    background: url(../images/collected.png) no-repeat center center;
    background-size: contain;
}

#footer a.go {
    width: 70%;
    background: #0e72ec;
    color: #FFF;
    line-height: 3rem;
}